$base-color: #f2523a;
$base-hover: #f7744a;
$color-card: rgb(59, 58, 58);
$base-color-card: #e5b9fd;
$font-size-navbar: 1.5em;
$font-size-title-responsive: 1.1em;
$font-navbar: "Fredoka One", cursive;
$font-main-section: "Acme", sans-serif;
