$base-color: #F2523A;
$base-hover: #F7744A;
$color-card: rgb(59, 58, 58);
$base-color-card: #e5b9fd;
$font-size-navbar : 1.5em;
$font-navbar: 'Fredoka One',
cursive;
$font-main-section:'Acme',
sans-serif;