@import "./_utils.scss";

.NAV {
  // border: 3px solid red;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: $base-color;

  &__title {
    font-size: $font-size-navbar;
    font-family: $font-navbar;
    display: grid;
    justify-items: center;
    align-items: center;
    // border: 3px solid green;
    ;

    &:hover {
      background-color: $base-hover;
    }
  }

  .Logo {
    height: 50px;
    align-self: center;
  }

  .Logo__container {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .title_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .linked {
    text-decoration: none;
    color: black;
  }
}