.NAV {
  border: 3px solid red;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  &__title {
    font-size: 1.5em;
    border: 3px solid green;

    &:hover {
      background-color: yellow;
    }
  }

  .Logo {
    height: 50px;
    align-self: center;
  }
  .Logo__container {
    display: grid;
    align-items: center;
    align-content: center;
  }

  .title_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
