.Container_Input {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.InputSeeker {
  font-size: 1.3em;
  width: 600px;
}

.Container_Title {
  display: grid;
  justify-items: center;
}

.Container_Input form {
  display: grid;
  justify-items: center;
  gap: 15px;
}